<% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="span8">
        <h2>Ngicau</h2>
        <%= render 'shared/feed' %>
      </div>
    </div>

<% else %>
    <div class="center hero-unit">
          <h1>「<%= image_tag "z.gif" %>」</h1>
      <h2>
        ーーーーーーーー
      </h2>
      <h3>アリフ</h3>

      <%= link_to "ayo daftar :v", signup_path,
                  class: "btn btn-medium btn-primary" %>
    </div>
<% end %> 